
@font-face {
    font-family: 'DMSans', sans-serif;
    src: url('../../fonts/DMSans-Bold.woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans', sans-serif;
    src: url('../../fonts/DMSans-Italic.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans', sans-serif;
    src: url('../../fonts/DMSans-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans', sans-serif;
    src: url('../../fonts/DMSans-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'GeneralSans', sans-serif;
    src: url('../../fonts/GeneralSans-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url('../../fonts/Gilroy-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url('../../fonts/HelveticaNeueCyr-Bold.woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url('../../fonts/HelveticaNeueCyr-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url('../../fonts/HelveticaNeueCyr-Roman.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../fonts/Roboto-Bold.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans', sans-serif;
    src: url('../fonts/ProximaNova-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}










