
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my*/


html {
    box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
body {
	background-color: #F8FBFF;
	font-family: sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
	background-color: #000;
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50px;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #fff;
}
.menu__list {
	display: flex;
	align-items: center;
}
.menu__item {
	display: inline-block;
}
.menu__item + .menu__item{
	padding-left: 40px;
}
.menu__link {
	display: flex;
	align-items: center;
	gap: 3px;
}
.personal-account {
	display: flex;
	align-items: center;
	gap: 10px;
}
#phone {
	color: #fff;
}
.mySwiper {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.banner-main-link img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.mySwiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	position: absolute;
	text-align: left;
	bottom: 10%;
	left: 4%;
}
.mobile-banner {
	display: none;
}
/*categories*/
.categories__wrapper {
	margin-bottom: 65px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
}
.categories__wrapper-item {
	width: 48%;
}
.categories__item-link img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-second {
	margin-bottom: 42px;
}
.banner-second__wrapper img {
	width: 100%;
}
.banner-second-image-mobile {
	display: none;
}
.company {
	margin-bottom: 30px;
}
.company__wrapper {
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #fff;
}
.companySwiper .swiper-wrapper {
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
.companySwiper .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
}
.companySwiper .swiper-slide-active {
	background-color:#F8FBFF;
}
.swiper-button-lock {
	display: block;
}
.swiper-button-left {
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}
.swiper-button-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1%;
	cursor: pointer;
	z-index: 10;
}
/*seo*/
.seo {
	padding-bottom: 61px;
}
.seo__title {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.seo__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.footer__top-wrapper {
	width: 100%;
	padding: 44px 0;
	display: flex;
	gap: 112px;
	border-top: 1px solid #C3C3C3;
}
.footer__social {
	width: 25%;
}
.footer__logo {
	display: inline-block;
	margin-bottom: 40px;
}
.footer__social-title {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.footer__social-box-link {
	display: flex;
	gap: 21px;
}
.footer__for-clients {
	width: 25%;
}
.footer__for-clients-title {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
	text-transform: capitalize;
}
.footer__for-clients-box {
	display: flex;
	gap: 60px;
	font-size: 12px;
	line-height: 25px;
	font-weight: 400;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
	text-transform: capitalize;
}
.footer_for-clients-logistics-item {
	display: block;
}
.footer_for-clients-logistics-item:hover {
	color: #213FDF {
	}
}
.footer_for-clients-confidentiality-item {
	display: block;
}
.footer_for-clients-confidentiality-item:hover {
	color: #213FDF;
}
.footer__contacts {
	width: 52%;
}
.footer__contacts-title {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
	text-transform: capitalize;
}
.footer__contacts-box {
	display: flex;
	gap: 33px;
	justify-content: space-between;
	font-size: 12px;
	line-height: 25px;
	font-weight: 400;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.footer__contacts-adress-link {
	padding-left: 16px;
	position: relative;
	display: block;
}
.footer__contacts-adress-link::before {
	position: absolute;
	content: url(../images/map-icon.svg);
	width: 10px;
	height: 15px;
	top: 0;
	left: 0;
}
.footer__contacts-adress-link:hover {
	color: #213FDF;
}
.footer__contacts-telephone {
	position: relative;
	padding-left: 16px;
}
.footer__contacts-telephone::before {
	position: absolute;
	content: url(../images/telephone.svg);
	width: 13.5px;
	height: 13.5px;
	top: 0;
	left: 0;
}
.footer__contacts-telephone:hover {
	color:#213FDF
}
.footer_contacts-time-item {
	position: relative;
	padding-left: 24px;
}
.footer_contacts-time-item::before{
	position: absolute;
	content: url(../images/time.svg);
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
}
.footer__contacts-card {
	margin-top: 9px;
}
.footer__contacts-card-mobile {
	display: none;
}
.footer__bottom {
	padding: 10px 0;
	color: #F8FBFF;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-align: center;
	background-color: #000;
}
.privacy {
	padding: 27px 0;
	background-color: #fff;
}
.privacy__title {
	margin-bottom: 20px;
	color: #000;
	font-size: 29px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.privacy__subtitle {
	margin-bottom: 18px;
	color: #000;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.privacy__text {
	margin-bottom: 23px;
	color: #000;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.error {
	padding: 34px 0 51px;
	background-color: #fff;
}
.error__title {
	margin-bottom: 17px;
	color: #000;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-align: center;
}
.error-image {
	width: 100%;
}
.button-error {
	display: block;
	width: 340px;
	margin: 0 auto;
	padding: 14px 0;
	background-color: #213FDF;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
	border: none;
	text-align: center;
}
.discounts {
	margin-bottom: 45px;
}
.discountsSwiper {
	padding-top: 53px;
	height: 460px;
}
.discounts__title {
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	font-size: 28px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.discounts-button-swiper {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.swiper-discounts-button-left {
	transform: translateX(-40px);
}
.product__slider-item {
	background-color: #fff;
}
.product__item {
	display: block;
	position: relative;
	padding: 35px 15px 16px;
	width: 215px;
}
.product__item-img {
	display: block;
	margin: 0 auto;
}
.product__item-subtitle {
	margin-top: 35px;
	margin-bottom: 5px;
	color: #D0D0D0;
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-transform: uppercase;
}
.product_item-title {
	margin-bottom: 12px;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__item-box-price {
	margin-bottom: 14px;
	display: flex;
	gap: 10px;
}
.product__item-price {
	color: #213FDF;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__item-price-former {
	color: #C3C3C3;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-decoration: line-through;
}
.product__item-descriptions {
	display: flex;
	gap: 5px;
}
.product__item-descriptions-left {
	color: #C3C3C3;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-transform:capitalize;
}
.product__item-descriptions-right {
	color: #000;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__item-sale-img{
	position: absolute;
	top: 8px;
	right: 8px;
}
.product__slider-item .product__item{
	width: auto;
}
.receipts {
	margin-bottom: 61px;
	background-color: inherit;
}
.recepts__title {
	margin-bottom: 16px;
	color: #000;
	font-size: 28px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.receipts__box-items {
	display: flex;
	flex-wrap: wrap;
	gap: 23px;
	justify-content: center;
}
.product__item {
	background-color: #fff;
}
.product__item-promotion {
	position: absolute;
	top: 15px;
	left: 15px;
}
.price-main {
	color: #000;
}
.breadcrumbs {
	margin-top: 50px;
	margin-bottom: 27px;
}
.breadcrumbs__list-item {
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	position: relative;
	color: #C3C3C3;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.breadcrumbs__list-item::after{
	position: absolute;
	right: -11px;
	bottom: 9px;
	content:"";
	background-image: url(../images/Vector.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 10px;
	height: 5px;
}
.breadcrumbs__list-item:last-child::after{
	display: none;
}
.breadcrumbs__list-item:last-child{
	color: #213FDF;
}
.catalog__title {
	margin-bottom: 25px;
	color: #000;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.catalog__inner {
	display: flex;
}
.catalog__inner-aside {
	min-width: 295px;
	margin-right: 5px;
}
.catalog__inner-list {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	justify-content: space-between;
}
.catalog_functional {
	margin-bottom: 3px;
	padding: 14px 0 16px;
	background-color: #FFF;
}
.catalog__functional-form {
	text-align: right;
	padding-right: 30px;
}
.catalog__functional-form label {
	margin-left: 25px;
	margin-right: 10px;
	color: #1D1D1E;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.catalog__functional-form select{
	padding: 8px 13px;
	background-color: #F8FBFF;
	border: 1px solid #F8FBFF;
	border-radius: 3px;
	color: #1D1D1E;
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
	font-family: 'ProximaNova', sans-serif;
}
.pagination {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 56px;
	padding: 13px 0;
	background-color: #FFF;
}
.pagination__list {
	display: flex;
	justify-content: center;
}
.pagination__list-item {
	margin-left: 5px;
}
.pagination__list-item.active {
	color: #213FDF;
	border: 1px solid #213FDF;
}
.pagination__list-item a{
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	font-family: 'ProximaNova', sans-serif;
	min-width: 35px;
	text-align: center;
	display: inline-block;
	color: #1D1D1E;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
}
.catalog__inner-aside {
	background-color: #FFF;
}
.aside-filter_list {
	padding: 20px;
}
.aside-filter__item-title {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova', sans-serif;
	
}
.filter__item-drop {
	margin: 22px 0 20px;
	position: relative;
	cursor: pointer;
}
.filter__item-drop::before {
	content: "";
	background-image: url(../images/drop-down.svg);
	position: absolute;
	right: 0;
	top: 6px;
	width: 10px;
	height: 5px;
	background-size: cover;
	transform: rotate(0deg);
}
.filter__item-drop--active::before {
	transform: rotate(180deg);
}
.aside-filter__content {
	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.3s ease-out;
}
.filter__item-drop--active + .aside-filter__content {
  max-height: 1000px; /* Это значение должно быть достаточно большим, чтобы вместить весь контент */
}
.aside-filter__content-box {
	margin-bottom: 13px;
}
.aside-filter__content-label {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova', sans-serif;
	cursor: pointer;
}
.filter-more {
	padding: 14px;
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova', sans-serif;
	color: #C3C3C3;
	background-color: transparent;
	border: 1px solid #DEDEDE;
	cursor: pointer;
	transition: .3s linear;
}
.filter-more:hover {
	color: #000;
	border: 1px solid #DEDEDE;
	transition: .3s linear;
}
.jq-checkbox, .jq-radio {
	width: 20px;
	height: 20px;
	background: none;
	border-radius: 0;
	box-shadow: none;
}
.jq-checkbox.checked, .jq-radio.checked{
	background-color: #213FDF;
	border: none;
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 16px;
    height: 12px;
    margin: 3px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0);
	background-image: url(../images/checked-arrow.svg);
}
.irs--flat {
	top: -2px;
	width: 95%;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	color: #000;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: transparent;
}
.irs--flat .irs-line {
    top: 29px;
    height: 3px;
    background-color: #e1e4e9;
    border-radius: 0;
}
.irs--flat .irs-bar {
    top: 29px;
    height: 3px;
    background-color: #213FDF;
}
.irs--flat .irs-handle>i:first-child {
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -1px;
    background-color: #F8FBFF;
	border: 1px solid #DEDEDE;
	border-radius: 50%;
	cursor: pointer;
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: #F8FBFF;
}
.product-card__descriptions {
	margin-bottom: 60px;
}
.product__card {
	margin-bottom: 28px;
}
.product__card-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 3px;
}
.product__card-main {
	width: 76%;
}
.product__card-main-top {
	padding: 16px 15px 15px 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #DEDEDE;
}
.product__card-title {
	color: #000;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__main-top-text {
	color: #C3C3C3;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-main-inner {
	display: flex;
	justify-content: space-between;
	gap: 3px;
}
.product__card-inner-box-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 577px;
	background-color: #fff;
}
.product__card-inner-box-aside {
	width: 303px;
	background-color: #fff;
}
.product_card-inner-aside-header {
	border-bottom: 1px solid #DEDEDE;
}
.product_card-inner-aside-header-box {
	padding: 28px 20px 25px;
}
.product__card-box-aside-top {
	margin-bottom: 49px;
	padding-left: 26px;
	position: relative;
	color: #000;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-box-aside-top::before {
	content: url(../images/check-pay.svg);
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	height: 16px;
}
.product__card-box-price {
	margin-bottom: 48px;
	display: flex;
	gap: 16px;
	justify-content: space-between;
}
.product__card-price-new {
	color: #000;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-price-old {
	color: #C3C3C3;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-decoration:line-through;
}
.product__card-buy {
	width: 100%;
	margin-bottom: 78px;
	padding: 12px;
	color: #F8FBFF;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
	background-color: #213FDF;
	border: none;
	cursor: pointer;
}
.product__card-inner-aside-footer {
	padding: 25px 25px 25px 20px;
}
.product__card-inner-footer-list-item {
	margin-bottom: 6px;
	color: #000;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-pay {
	width: 24%;
	background-color: #fff;
}
.product__card-pay-header {
	padding: 19px 19px 19px 14px;
	border-bottom: 1px solid #DEDEDE;
}
.product__card-pay-header-top {
	margin-bottom: 16px;
	display: flex;
	flex-wrap: wrap;
	gap: 14px;
	justify-content: space-between;
}
.product__card-pay-header-top p {
	padding-left: 50px;
	position: relative;
	color: #C3C3C3;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-pay-header-top p::before {
	position: absolute;
	content: url(../images/noun_payment.svg);
	top: 0;
	left: 4px;
	width: 30px;
	height: 30px;
}
.product__card-pay-header-list-item {
	color: #000;
	font-size: 13px;
	line-height: 15px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-pay-main {
	padding: 26px 16px 14px 14px;
	border-bottom: 1px solid #DEDEDE;
}
.product__card-pay-main-title {
	margin-bottom: 21px;
	padding-left: 50px;
	position: relative;
	color: #C3C3C3;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-pay-main-title::before {
	position: absolute;
	content: url(../images/noun_delivery.svg);
	top: -10px;
	left: 0;
	width: 40px;
	height: 40px;
}
.product__card-pay-main-list-item {
	color: #000;
	font-size: 13px;
	line-height: 15px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-pay-footer {
	padding: 26px 14px 23px;
}
.product__card-pay-footer-title {
	margin-bottom: 21px;
	padding-left: 50px;
	position: relative;
	color: #C3C3C3;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product__card-pay-footer-title::before {
	position: absolute;
	content: url(../images/noun_return.svg);
	top: -10px;
	left: 0;
	width: 38px;
	height: 38px;
}
.product__card-pay-footer p{
	color: #000;
	font-size: 13px;
	line-height: 15px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.tabs__buttons {
    display: flex;
	margin-bottom: 3px;
}
.product-card__descriptions-inner {
	display: flex;
	gap: 3px;
}
.product-card__tabs {
	width: 100%;
}
.tab-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 18px;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
    cursor: pointer;
    background: #fff;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
}
.tab-btn.active {
	color: #fff;
    background: #213FDF;
}
.tabs__content {
    background-color: #fff;
}
.tab-content {
    display: none;
	padding: 30px 20px 35px;
}
.tab-content.active {
    display: block;
}
.tab-content h2{
	margin-bottom: 20px;
    color: #000;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.tab-content p{
	margin-bottom: 20px;
    color: #000;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.accordion-header {
	margin-bottom: 3px;
    width: 100%;
    padding: 8px 10px;
    background: #fff;
    border: none;
    text-align: left;
    font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Semibold', sans-serif;
    cursor: pointer;
    position: relative;
}

/*.accordion-header::after {
    content: "+";
    position: absolute;
    right: 15px;
    font-size: 20px;
    transition: transform 0.3s;
}

.accordion-header.active::after {
    content: "−";
}
*/
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #fff;
    padding: 0 15px;
}

.accordion-content p {
    margin: 15px 0;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.accordion-item {
	margin-bottom: 15px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
}
.product-card__tabs-card {
	min-width: 284px;
}
.product-card__tabs-card-top {
	margin-bottom: 3px;
	padding: 18px;
	background-color: #fff;
}
.product-card__tabs-card-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #C3C3C3;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.product-card__tabs-card-bottom .product__item{
	width: 100%;
}
video {
	width: 100%;
	height: 400px;
}








@media (max-width: 991px) {
  .footer__top-wrapper {
	flex-wrap: wrap;
	padding: 30px 0;
	gap: 30px;
	}
	.footer__social {
		width: 100%;
		order: 3;
	}
	.footer__logo {
		display: none;
	}
	.footer__for-clients {
		width: 45%;
	}
	.footer__contacts {
		width: 100%;
	}
	.footer__contacts-box {
		flex-direction: column;
		gap: 16px;
	}
	.footer__contacts-card {
		display: none;
	}
	.footer__contacts-card-mobile {
		display: block;
	}
	.receipts__box-items {
		gap: 12px;
	}
}
  


@media (max-width: 768px) {
	.banner-img-main {
	display: none;
  }
  .mobile-banner{
	display: block;
  }
  .mySwiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	text-align: center;
	bottom: 5%;
	left: 0%;
  }
  .categories__wrapper {
	gap: 16px;
  }
  .categories__wrapper-item {
	width: 100%;
  }
  .banner-second-image {
	display: none;
  }
  .banner-second-image-mobile {
	display: block;
  }
  .footer__top-wrapper {
	gap: 30px;
	}
	.footer__social {
		width: 100%;
	}
	.footer__for-clients {
		width: 100%;
	}
	.footer__for-clients-box {
		flex-direction: column;
		gap: 0;
	}
	.product__card-wrapper {
		flex-wrap: wrap;
	}
	.product__card-main {
		width: 100%;
	}
	.product__card-pay {
		width: 100%;
	}
	.product-card__descriptions-inner {
		flex-wrap: wrap;
	}
	.product-card__tabs-card {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.product__card-main-inner {
		flex-wrap: wrap;
	}
	.product__card-inner-box-img {
		padding: 18px 0;
		width: 100%;
	}
	.product__card-inner-box-aside {
		width: 100%;
	}
	
}
@media (max-width: 480px) {
  .footer__contacts-box {
	flex-direction: column;
  }
  .button-error {
	width: 100%;
	padding: 14px 14px;
  }
  .discounts__title {
	font-size: 20px;
  }
  .product__item-wrapper {
	width: 100%;
  }
  .product_item-title {
	font-size: 15px;
  }
  .product__item-price {
	font-size: 16px;
  }
  .product__item-price-former {
	font-size: 16px;
  }
  .receipts__box-items .product__item {
		width: 100%;
  } 
  .product__card-main-top {
	flex-wrap: wrap;
  }
}


	