
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my*/


html {
    box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
body {
	background-color: #F8FBFF;
	font-family: sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
	background-color: #000;
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50px;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #fff;
}
.menu__list {
	display: flex;
	align-items: center;
}
.menu__item {
	display: inline-block;
}
.menu__item + .menu__item{
	padding-left: 40px;
}
.menu__link {
	display: flex;
	align-items: center;
	gap: 3px;
}
.personal-account {
	display: flex;
	align-items: center;
	gap: 10px;
}
#phone {
	color: #fff;
}
.mySwiper {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.banner-main-link img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.mySwiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	position: absolute;
	text-align: left;
	bottom: 10%;
	left: 4%;
}
.mobile-banner {
	display: none;
}
/*categories*/
.categories__wrapper {
	margin-bottom: 65px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
}
.categories__wrapper-item {
	width: 48%;
}
.categories__item-link img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-second {
	margin-bottom: 42px;
}
.banner-second__wrapper img {
	width: 100%;
}
.banner-second-image-mobile {
	display: none;
}
.company {
	margin-bottom: 30px;
}
.company__wrapper {
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #fff;
}
.companySwiper .swiper-wrapper {
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
.companySwiper .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
}
.companySwiper .swiper-slide-active {
	background-color:#F8FBFF;
}
.swiper-button-lock {
	display: block;
}
.swiper-button-left {
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}
.swiper-button-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1%;
	cursor: pointer;
	z-index: 10;
}
/*seo*/
.seo {
	padding-bottom: 61px;
}
.seo__title {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.seo__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.footer__top-wrapper {
	width: 100%;
	padding: 44px 0;
	display: flex;
	gap: 112px;
	border-top: 1px solid #C3C3C3;
}
.footer__social {
	width: 25%;
}
.footer__logo {
	display: inline-block;
	margin-bottom: 40px;
}
.footer__social-title {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.footer__social-box-link {
	display: flex;
	gap: 21px;
}
.footer__for-clients {
	width: 25%;
}
.footer__for-clients-title {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
	text-transform: capitalize;
}
.footer__for-clients-box {
	display: flex;
	gap: 60px;
	font-size: 12px;
	line-height: 25px;
	font-weight: 400;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
	text-transform: capitalize;
}
.footer_for-clients-logistics-item {
	display: block;
}
.footer_for-clients-logistics-item:hover {
	color: #213FDF {
	}
}
.footer_for-clients-confidentiality-item {
	display: block;
}
.footer_for-clients-confidentiality-item:hover {
	color: #213FDF;
}
.footer__contacts {
	width: 52%;
}
.footer__contacts-title {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
	text-transform: capitalize;
}
.footer__contacts-box {
	display: flex;
	gap: 33px;
	justify-content: space-between;
	font-size: 12px;
	line-height: 25px;
	font-weight: 400;
	font-family: 'ProximaNova-Regular', sans-serif;
	color: #000;
}
.footer__contacts-adress-link {
	padding-left: 16px;
	position: relative;
	display: block;
}
.footer__contacts-adress-link::before {
	position: absolute;
	content: url(../images/map-icon.svg);
	width: 10px;
	height: 15px;
	top: 0;
	left: 0;
}
.footer__contacts-adress-link:hover {
	color: #213FDF;
}
.footer__contacts-telephone {
	position: relative;
	padding-left: 16px;
}
.footer__contacts-telephone::before {
	position: absolute;
	content: url(../images/telephone.svg);
	width: 13.5px;
	height: 13.5px;
	top: 0;
	left: 0;
}
.footer__contacts-telephone:hover {
	color:#213FDF
}
.footer_contacts-time-item {
	position: relative;
	padding-left: 24px;
}
.footer_contacts-time-item::before{
	position: absolute;
	content: url(../images/time.svg);
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
}
.footer__contacts-card {
	margin-top: 9px;
}
.footer__contacts-card-mobile {
	display: none;
}
.footer__bottom {
	padding: 10px 0;
	color: #F8FBFF;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-align: center;
	background-color: #000;
}



@media (max-width: 991px) {
  .footer__top-wrapper {
	flex-wrap: wrap;
	padding: 30px 0;
	gap: 30px;
	}
	.footer__social {
		width: 100%;
		order: 3;
	}
	.footer__logo {
		display: none;
	}
	.footer__for-clients {
		width: 45%;
	}
	.footer__contacts {
		width: 100%;
	}
	.footer__contacts-box {
		flex-direction: column;
		gap: 16px;
	}
	.footer__contacts-card {
		display: none;
	}
	.footer__contacts-card-mobile {
		display: block;
	}
}
  


@media (max-width: 768px) {
	.banner-img-main {
	display: none;
  }
  .mobile-banner{
	display: block;
  }
  .mySwiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	text-align: center;
	bottom: 5%;
	left: 0%;
  }
  .categories__wrapper {
	gap: 16px;
  }
  .categories__wrapper-item {
	width: 100%;
  }
  .banner-second-image {
	display: none;
  }
  .banner-second-image-mobile {
	display: block;
  }
  .footer__top-wrapper {
	gap: 30px;
	}
	.footer__social {
		width: 100%;
	}
	.footer__for-clients {
		width: 100%;
	}
	.footer__for-clients-box {
		flex-direction: column;
		gap: 0;
	}
}
@media (max-width: 480px) {
  .footer__contacts-box {
	flex-direction: column;
  }
}


	